<h2>Por Región</h2>
<hr>

<div class="row">
  <div class="col text-center">
    <!-- Search Box, este componente se ha creado en Shared -->
     <!-- <shared-search-box
      (onDebounce)="searchByRegion($event)"
      placeholder="Buscar por región"></shared-search-box> -->
    <button *ngFor="let region of regions"
      class="btn mx-2"
      [ngClass]="{ 'btn-outline-primary': selectedRegion === region }"
      (click)="searchByRegion(region)">
      {{ region }}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <!-- <ul>
      <li *ngFor="let country of countries">
        {{ country.capital }} - {{ country.population }}
      </li>
    </ul> -->
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries] = "countries"></countries-table>
  </div>
</div>
