<h2>Por Región</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- Search Box, este componente se ha creado en Shared -->
     <shared-search-box
      (onValue)="searchByRegion($event)"
      placeholder="Buscar por región"></shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <!-- <ul>
      <li *ngFor="let country of countries">
        {{ country.capital }} - {{ country.population }}
      </li>
    </ul> -->
    <countries-table [countries] = "countries"></countries-table>
  </div>
</div>
