<h2>Por País</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- Search Box, este componente se ha creado en Shared -->
     <shared-search-box
      (onDebounce)="searchByCountry($event)"
      [initialValue]="initialValue"
      placeholder="Buscar por país"></shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <!-- <ul>
      <li *ngFor="let country of countries">
        {{ country.capital }} - {{ country.population }}
      </li>
    </ul> -->
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries] = "countries"></countries-table>
  </div>
</div>
